<!-- Comment {{ comment.author }} -->

<div class="row d-flex justify-content-center m-3">
    <div class="col-12 col-md-auto text-lg-end text-center position-relative">
        {% include 'blog/profile_picture.html' with url=comment.author.profile.picture.url maxheight='100px' %}
        {% if comment.author != None %}
            <a href="{% url 'user_profile' user_name=comment.author %}" class="stretched-link"></a>
        {% endif %}
    </div>
    <div class="col-12 col-md-6 bg-body rounded-4 p-3 shadow">
        <div class="row">
            <div class="col-auto align-self-start position-relative">
                <span class="fs-4">{{ comment.author | default:'<i class="bi bi-person-x text-muted"></i>' }}</span>
                {% if comment.author != None %}
                    <a href="{% url 'user_profile' user_name=comment.author %}" class="stretched-link"></a>
                {% endif %}
            </div>
            <div class="col-12 col-sm-auto my-auto ps-0">
                <span class="opacity-25 fst-italic small pb-0">
                    {{ comment.date|timesince }} ago
                </span>
            </div>
            <div class="col-auto ms-auto align-self-end">
                {% if user and comment.author %}
                    {% include 'blog/comment_menu.html' %}
                {% endif %}
            </div>
        </div>
        <div>{{ comment.body | safe }}</div>
    </div>
</div>
