<!-- Comment {{ comment.author }} -->

<div class="row d-flex justify-content-center m-3">
    <div class="col-12 col-md-auto text-lg-end text-center position-relative h-100"
         data-bs-toggle="popover"
         data-bs-trigger="hover focus"
         data-bs-placement="right"
         data-bs-html="true"
         data-bs-content='{% include "blog/userprofile_short.html" with user=comment.author %}'>
        <div class="">
            {% include 'blog/profile_picture.html' with user=comment.author maxheight='100px' %}
            {% if comment.author != None %}
                <a href="{% url 'user_profile' user_name=comment.author %}" class="stretched-link"></a>
            {% else %}
                <a href="{% url 'register' %}" class="stretched-link"></a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col text-center align-self-start position-relative">
                <span class="fs-4">{{ comment.author | default:'<i class="bi bi-person-x text-muted"></i>' }}</span>
                {% if comment.author != None %}
                    <a href="{% url 'user_profile' user_name=comment.author %}" class="stretched-link"></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 bg-body rounded-4 p-3 shadow">
        <div class="row">
            {{ comment.body | safe }}
        </div>
        <div class="row">
            <div class="col-auto ms-auto my-auto col-sm-auto">
                <span class="opacity-25 fst-italic small pb-0">
                    Commented {{ comment.date|timesince }} ago
                </span>
            </div>
            <div class="col-auto align-self-end">
                {% if user == comment.author %}
                    {% include 'blog/comment_menu.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
