<!-- footer -->

<div class="container text-center mt-5">
    <div class="row">
        <div class="col align-self-start p-2 bg-body rounded shadow-sm position-relative m-auto">
            {% if request.path == "/" %}
                bottom text
            {% else %}
                <a href="{% url 'home' %}" class="text-decoration-none stretched-link table-hover">
                    <span class="bi-caret-left-fill"></span> Home
                </a>
            {% endif %}
        </div>
        <div class="col align-self-center">
            <span class="text-muted">version 1.0.3</span>
        </div>
        <div class="col align-self-end p-2 bg-body rounded shadow-sm">

            <div class="row">
                <div class="col-12 col-md align-self-start position-relative">
                    {% if user.is_authenticated %}
                        Hi {{ user.username }}!
                    {% else %}
                        <a href="{% url 'login' %}" class="text-decoration-none stretched-link">👉 Log In</a>
                    {% endif %}
                </div>
                <div class="vr d-none d-md-block p-0"></div>
                <hr class="d-block d-md-none mt-2 mb-1 p-0 w-75 mx-auto">
                <div class="col-12 col-md align-self-end position-relative">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="text-decoration-none">👉 Log Out</a>
                    {% else %}
                        <a href="{% url 'register' %}" class="text-decoration-none stretched-link">👉 Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
