<!-- footer -->

<div class="container text-center bg-body mt-5 p-2 rounded shadow-sm">
    <div class="row">
        <div class="col align-self-start">
            {% if request.path == "/" %}
                bottom text
            {% else %}
                <a href="{% url 'home' %}" class="text-decoration-none"><span class="bi-caret-left-fill"></span>Home</a>
            {% endif %}
        </div>
        <div class="col align-self-center">
            <span class="text-muted">version 1.0.2</span>
        </div>
        <div class="col align-self-end">
            {% if user.is_authenticated %}
                Hi {{ user.username }}! 👉
                <a href="{% url 'logout' %}" class="text-decoration-none">Log Out</a>
            {% else %}
                <a href="{% url 'login' %}" class="text-decoration-none">👉 Log In</a>
                <a href="{% url 'register' %}" class="text-decoration-none">👉 Register</a>
            {% endif %}
        </div>
    </div>
</div>
