{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header_info %}
    Hi, I'm <span class="wavy">{{ post.title }}</span>
{% endblock %}

{% block main_body %}

    <div class="row">
        <div class="col-12 col-md-2 text-lg-end text-center">
            <img src="{{ post.author.profile.picture.url | default:'/media/profile_pictures/anonymous.jpg' }}"
                 class="img-fluid rounded-circle p-3" style="max-height: 100px">
        </div>
        <div class="col-10 col-md-8 text-md-start my-auto text-center">
            <span class="fs-1">{{ post.author | default:'Deleted' }}</span> <small
                class="text-muted pb-0">Posted {{ post.pub_date|timesince }} ago</small>
        </div>
        <div class="col-2 text-md-start mt-auto mb-1 align-self-start">
            <a href="#comments" class="text-decoration-none">
                <span class="bi bi-chat-right"></span> {{ comments|length }}
            </a>
            <a href="{% url 'post' post_id=post.id %}liked"
               class="text-decoration-none position-relative stretched-link text-reset">
                <span class="bi bi-heart{% if post.liked %}-fill text-danger{% endif %}"></span> {{ post.likes }}
            </a>
        </div>
    </div>

    <div class="container p-3 p-md-4 rounded-5 border border-dark border-opacity-10 text-decoration-none bg-body">
        {{ post.body | safe }}
    </div>
    {% for co in comments %}
        {% include 'blog/comment.html' with comment=co %}
    {% endfor %}
{% endblock %}
