{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header_info %}
    <div class="col-md-12 text-center py-5">
        <span class="display-1">Hi, I'm <span class="wavy">{{ post.title }}</span></span>
    </div>
{% endblock %}

{% block main_body %}
    <div class="container px-5 text-decoration-none">
        {{ body_html | safe }}
    </div>
            {% for co in comments %}
                {% include 'blog/comment.html' with comment=co %}
            {% endfor %}
{% endblock %}
