{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header_info %}
    Hi, I'm <span class="wavy">{{ post.title }}</span>
{% endblock %}

{% block main_body %}
    <div class="container p-3 p-md-4 rounded-5 border border-dark border-opacity-10 text-decoration-none bg-body">
        {{ body_html | safe }}
    </div>
            {% for co in comments %}
                {% include 'blog/comment.html' with comment=co %}
            {% endfor %}
{% endblock %}
