{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ profile }}
{% endblock %}

{% block header_info %}
    Hi, I'm <span class="wavy">{{ profile }}</span>!
{% endblock %}

{% block main_body %}
    <div class="container">
        <div class="row justify-content-center gap-5">
            <div class="col-auto position-relative">
                {% include 'blog/profile_picture.html' with url=profile.profile.picture.url maxheight='300px' %}

                <div class="position-absolute bottom-0 end-0">
                    {% if user == profile %}
                        <div class="position-absolute bottom-0 end-0 btn bg-light rounded-pill px-3 fs-1 shadow bi bi-pen"></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="row gap-2 gap-md-4">
                    <div class="col-12 bg-body border-0 shadow-sm rounded-5 p-2 text-center display-6">
                        {{ profile.profile.location | default:'<i>No data.</i>' }}
                    </div>
                    <div class="col-12 bg-body border-0 shadow-sm rounded-5 p-3">
                        {{ profile.profile.bio | safe | default:'<i>No bio.</i>'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
