<!-- - {{ profile }} history - -->

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>

<div class="row mb-3 mt-5">
    <span class="display-4">Latest activity</span>
</div>

{% if not profile.history %}
    <div class="row text-center">
        <i class="m-auto fs-3">
            No activity found 🤨
        </i>
    </div>
{% else %}
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
        {% for hist in profile.history|dictsortreversed:"date" %}
            {% if hist.title %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                        <span class="card-title fs-3">
                            <span class="bi bi-journal-richtext text-success"></span>
                            <span class="bi bi-stars text-warning"></span>
                            Posted:
                            <a href="{% url 'post' post_id=hist.id %}"
                               class="text-decoration-none text-success fst-italic">
                                {{ hist.title }}
                            </a>
                        </span>
                            <div class="card-text overflow-hidden" style="max-height: 333px">
                                {{ hist.body | safe }}
                            </div>
                            <p class="card-text"><small class="text-muted">
                                Last updated {{ hist.date | timesince }} ago.
                            </small></p>
                        </div>
                    </div>
                </div>
            {% elif hist.post_id %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="bi bi-chat-left"></span>
                                Commented on :
                                <a href="{% url 'post' post_id=hist.post_id.id %}#comments"
                                   class="text-decoration-none">
                                    {{ hist.post_id.title }}
                                </a>
                            </h5>
                            <p class="card-text">This is another card with title and supporting text below. This card
                                has
                                some
                                additional content to make it slightly taller overall.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
