{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ profile }}
{% endblock %}

{% block header_info %}
    Hi, I'm <span class="wavy">{{ profile }}</span>!
{% endblock %}

{% block main_body %}
    <div class="container">
        <div class="row justify-content-center gap-5">
            <div class="col-auto position-relative">
                {% include 'blog/profile_picture.html' with url=profile.profile.picture.url maxheight='300px' %}

                <div class="position-absolute bottom-0 end-0">
                    {% if user == profile %}
                        <div class="position-absolute bottom-0 end-0 btn bg-light rounded-pill px-3 fs-1 shadow bi bi-pen"></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="row gap-2 gap-md-4">
                    <div class="col-12 bg-body border-0 shadow-sm rounded-5 p-2 text-center display-6">
                        {{ profile.profile.location | default:'<i>No data.</i>' }}
                    </div>
                    <div class="col-12 bg-body border-0 shadow-sm rounded-5 p-3">
                        {{ profile.profile.bio | safe | default:'<i>No bio.</i>' }}
                    </div>
                    <div class="col-12">
                        {% if tags %}
                            <div class="container-fluid text-center">
                                <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6 row-cols-lg-4 g-2 g-md-3">
                                    {% for tag in tags %}
                                        <div class="col position-relative">
                                            <div class="rounded bg-{{ tag.color }} p-2">
                                                {% if tag.link %}
                                                    <a target="_blank" rel="noopener noreferrer"
                                                       href="{{ tag.link }}"
                                                       class="text-decoration-none overflow-hidden stretched-link"></a>
                                                {% endif %}
                                                <i class="bi bi-{{ tag.icon }}"></i>
                                                {{ tag.name }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'blog/user_history.html' with profile=profile %}
    </div>
{% endblock %}
