<!-- Markdown help -->

<div id="markdownHelpBlock" class="form-text">
    Comments (and Posts) support <i class="bi bi-markdown-fill fs-6"></i> Markdown to style
    them!
    <a href="/post/9/" target="_blank">Guide</a>
    or
    <span class="text-danger" data-bs-toggle="collapse" href="#markdownCollapse"
          role="button" aria-expanded="false" aria-controls="markdownCollapse">
                                    Cheat sheet <i class="bi bi-caret-down-fill"></i>
                                </span>
    <div class="collapse m-auto" id="markdownCollapse">
        <span>*italic*</span><br>
        <span>**bold**</span><br>
        <span>[text](url)</span><br>
        <span>List - or 1. with two spaces per indentations</span><br>
        <span>Horizontal line --- *** ___</span><br>
        <span>```multiline code```</span><br>
        <span>| Header1 | Header 2 | Header 3 |<br>
                                    |-----|------:|:------:|<br>
                                    | left | right | centered |</span>
        <p>Image: ![name](url "title")</p>
    </div>
</div>
