<!-- - {{ profile }} history - -->

<div class="row mb-3 mt-5">
    <div class="col-12 col-md">
        <span class="display-4">Latest activity</span>
    </div>
    {% for f in filters %}
        <div class="col-auto m-auto m-md-0 mt-4 mt-md-auto">
            <div class="btn btn-dark rounded-pill position-relative">
                <a href="{% url 'user_profile_type' user_name=profile.username activity_type=f.name %}"
                   class="stretched-link"></a>
                <span class="bi {{ f.icon }}"></span>
                <span class="m-auto p-2">{{ f.name }}</span>
            </div>
        </div>
    {% endfor %}
</div>

{% if not profile.history %}
    <div class="row text-center">
        <i class="m-auto fs-3">
            No activity found 🤨
        </i>
    </div>
{% else %}
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
        {% for hist in profile.history|dictsortreversed:"date" %}
            {% if hist.title %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                        <span class="card-title fs-3">
                            <span class="bi bi-journal-richtext text-success"></span>
                            <span class="bi bi-stars text-warning"></span>
                            Posted:
                            <a href="{% url 'post' post_id=hist.id %}"
                               class="text-decoration-none text-success fst-italic">
                                {{ hist.title }}
                            </a>
                        </span>
                            <hr>
                            <div class="card-text overflow-hidden" style="max-height: 333px">
                                {{ hist.body | safe }}
                            </div>
                            <p class="card-text"><small class="text-muted">
                                Last updated {{ hist.date | timesince }} ago.
                            </small></p>
                        </div>
                    </div>
                </div>
            {% elif hist.post_id %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="bi bi-chat-left"></span>
                                Commented on :
                                <a href="{% url 'post' post_id=hist.post_id %}#comments"
                                   class="text-decoration-none">
                                    {{ hist.post_id.title }}
                                </a>
                            </h5>
                            <div class="card-text overflow-hidden max-h-200 border-start border-5 rounded ps-2">
                                {{ hist.body | safe }}
                            </div>
                            <p class="card-text text-muted small">
                                Last updated {{ hist.date | timesince }} ago.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
