{% extends 'blog/../blog/base.html' %}
{% load static %}


{% block title %}Sign Up{% endblock %}

{% block header_info %}
    Hi, you're <span class="wavy" id="name">_____</span>?
{% endblock %}

{% block main_body %}
    <div class="text-center">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="d-inline-flex mb-3 px-2 py-1 bg-danger bg-opacity-10 border border-2 border-danger border-opacity-10 rounded-2">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="d-inline-flex mb-3 px-2 py-1 bg-danger bg-opacity-10 border border-2 border-danger border-opacity-10 rounded-2">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row p-2 justify-content-center">
                    <div class="col-12 col-md-3 h4 text-md-start">
                        <i class="bi bi-person-badge"></i> {{ form.username.label }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.username }}
                    </div>
                </div>
                <div class="row p-2 justify-content-center">
                    <div class="col-12 col-md-3 h4 text-md-start">
                        <i class="bi bi-envelope-open"></i> {{ form.email.label }} <small class="text-muted fs-6">(optional)</small>
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.email }}
                    </div>
                </div>
                <div class="row p-2 justify-content-center">
                    <div class="col-12 col-md-3 h4 text-md-start">
                        <span>
                            <a class="text-decoration-none text-reset" data-bs-toggle="collapse" href="#collapseExample"
                               role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-key"></i> {{ form.password1.label }}
                                <span class="bi-question-circle-fill text-primary"></span>
                            </a>
                        </span>
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-6 collapse" id="collapseExample">
                        <div class="card card-body border-0 bg-transparent text-start p-0 my-2">
                            {{ form.password1.help_text }}
                        </div>
                    </div>
                </div>
                <div class="row p-2 justify-content-center">
                    <div class="col-12 col-md-3 h4 text-md-start">
                        <i class="bi bi-shield-lock"></i> {{ form.password2.label }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.password2 }}
                    </div>
                </div>
            </div>
            <button class="btn btn-dark" type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/login_register.js' %}" defer></script>
{% endblock %}
